<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="StreamingConfiguration" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">OrderStreams_LocalCluster</value>
        <value name="description">Just a connection</value>
        <value name="package">OrderStreams</value>
        <value name="type">Kafka</value>
        <value name="host">bootstrap.streams.k8s:443</value>
        <value name="clientId">IS3ed99690da</value>
        <value name="other_properties"></value>
        <value name="other_runtime_properties">streaming.consumer.validate.consumers.not.greater.than.partitions=true
streaming.client.publish.mode=asynchronous</value>
        <value name="enabled">true</value>
        <value name="securityProtocol">SSL</value>
        <value name="truststoreAlias">DEFAULT_IS_TRUSTSTORE</value>
        <value name="keystoreAlias"></value>
        <null name="keystoreKeyAlias"/>
        <array name="subjects" type="record" depth="1">
        </array>
      </record>
    </array>
  </record>
</IDataXMLCoder>
